Package: com.mattcmultimedia.clearonopen
Name: ClearOnOpen
Depends: mobilesubstrate, firmware (>= 9.0)
Version: 3.0.0
Architecture: iphoneos-arm
Description: Automatically clear Spotlight results
Maintainer: Mordred666
Author: Mordred666
Section: Tweaks
